.form-section {
  --border-color: #ccc;
  --border-radius: 8px;
  --padding: 2rem;
}

.form-section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.form-section {
  font-size: 1rem;
}

.form  input {
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.form  label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}


.accordion-content  button {
  padding: 0.75rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.accordion-content  button:hover {
  background-color: #0056b3;
  scale: 1.10;
}

.delete-div .delete-button {
  padding: 0.5rem;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.delete-div .delete-button:hover {
  background-color: #c82333;
  scale: 1.10;
}

.accordin-content button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);

}

.button-div {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.delete-div {
  
  font-weight: bold;
  margin-top: 1rem;
  justify-content: space-between;
  display: flex;
}

.form-div {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

