.view-container {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

header{
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.view-container h1  {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

address, address div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
}